<div class="bg">
    <br>
    <br>
    <h1 style="color: rgb(75, 0, 128); font-family: 'Times New Roman', Times, serif; text-align: center;"><b>Select Exam</b></h1>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: rgb(75, 0, 128); font-family: 'Times New Roman', Times, serif; text-align: center;"><b>Artificial Intelligence</b></h4>
                    <h2 style="color: rgb(0, 79, 128); font-family: 'Times New Roman', Times, serif;">Instructions</h2>
                    <ol>
                        <li>Make sure that you have attempted all the questions before submission</li>
                        <li>There will be 4 mcq type question.</li>
                        <li>No negative marks</li>
                        <li>No use of additional applications.</li>
                        <li>Check your internet connection before staring the exam.</li>
                    </ol>
                    <a routerLink="{{tes}}/0" class="nav-link" class="btn btn-primary active" role="button"><b>&nbsp;&nbsp;Start&nbsp;&nbsp;</b></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: rgb(75, 0, 128); font-family: 'Times New Roman', Times, serif; text-align: center;"><b>Operating Systems</b></h4>
                    <h2 style="color: rgb(0, 79, 128); font-family: 'Times New Roman', Times, serif;">Instructions</h2>
                    <ol>
                        <li>Make sure that you have attempted all the questions before submission</li>
                        <li>There will be 4 mcq type question.</li>
                        <li>No negative marks</li>
                        <li>No use of additional applications.</li>
                        <li>Check your internet connection before staring the exam.</li>
                    </ol>
                    <a routerLink="{{tes}}/1" class="nav-link" class="btn btn-primary active" role="button"><b>&nbsp;&nbsp;Start&nbsp;&nbsp;</b></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: rgb(75, 0, 128); font-family: 'Times New Roman', Times, serif; text-align: center;"><b>Data Structures</b></h4>
                    <h2 style="color: rgb(0, 79, 128); font-family: 'Times New Roman', Times, serif;">Instructions</h2>
                    <ol>
                        <li>Make sure that you have attempted all the questions before submission</li>
                        <li>There will be 4 mcq type question.</li>
                        <li>No negative marks</li>
                        <li>No use of additional applications.</li>
                        <li>Check your internet connection before staring the exam.</li>
                    </ol>
                    <a routerLink="{{tes}}/2" class="nav-link" class="btn btn-primary active" role="button"><b>&nbsp;&nbsp;Start&nbsp;&nbsp;</b></a>
                </div>
            </div>
        </div>
    </div>
</div>